$website-color-scheme: "light dark" !default;
$auto-color-scheme: on !default;
$option-ref-color-tokens: off !default;
$color-scheme-force-dark-selectors: null !default;
$color-scheme-force-light-selectors: null !default;
