// Progress
$f-progress-height: 3rem !default;
$f-progress-bar-radius: $btn-border-radius !default;

// Colors
$f-field-progress-color-background: var(--neutral-ultra-light) !default;
$f-field-progress-color-background-bar: var(--primary-light) !default;
$f-field-progress-color-background-complete: var(--primary) !default;
