$f-submit-button-style: "primary" !default;
$f-next-button-style: "primary" !default;
$f-prev-button-style: "primary.btn--outline" !default;
$f-save-button-style: "primary" !default;
$f-reset-button-style: "primary" !default;
$f-clear-button-style: "primary.btn--outline" !default;
