@if $option-order == on {
	/* Feat: Order */
	.order--first {
		order: -1;
	  }
	  .order--last {
		order: 999;
	  }
	  .col-end--last {
		grid-column-end: -1;
	  }

	  @each $breakpoint, $value in $breakpoints {
		@include breakpoint($breakpoint) {
		  .order--first-#{$breakpoint} {
			order: -1;
		  }
		  .order--last-#{$breakpoint} {
			order: 999;
		  }
		  .col-end--#{$breakpoint}-last {
			grid-column-end: -1;
		  }
		}
	  }
}
