@import "../modules/flex-grid/flex-grid-mixins";
@import "../modules/spacing/gap/gap-mixins";
@import "../modules/buttons/button-mixins";
@import "../modules/accessibility/accessibility-mixins";
@import "../modules/text/text-mixins";
@import "../modules/grid/auto-grid/mixins";

// Platform & Feature Options

@mixin if-all-builders-off {
  // If all builders are off, show content
  // Never add native Gutenberg to this list -- non-native builders only.
  @if
    $option-bricks == off {
      @content;
  }
}

@mixin if-builders-off {
  @if $option-bricks == off {
    @content;
  }
}

// Generate code at all breakpoints

@mixin at-each-breakpoint {
  @each $breakpoint, $value in $breakpoints {
    @include breakpoint($breakpoint) {
      @content;
    }
  }
}

// Overlays

@mixin overlay($overlay-bg: var(--black-trans-60), $overlay-opacity: null, $overlay-bg-image: null) {
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    // Need to check if there's a background image declared or not so we can
    // create a valid background string

    @if not $overlay-bg-image {
      background: var(--overlay-bg, $overlay-bg);
    } @else {
      background: var(--overlay-bg, $overlay-bg), var(--overlay-bg-image, $overlay-bg-image);
    }

    opacity: var(--overlay-opacity, $overlay-opacity);
  }

}

// Clickable Parent for Builders (Internal)

@mixin load-clickable-parent($target) {
    .clickable-parent:not(a) {
      position: static;

      a {
        position: static;
      }

      > a::after {
        content: "";
        position: absolute;
        inset: 0;
        cursor: pointer !important;
        display: flex;
        z-index: 1;
      }
    }

    button.clickable-parent,
    a.clickable-parent {
      position: static !important;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        cursor: pointer !important;
        display: flex;
        z-index: 1;
      }
    }
    // Remove effect from page builder target
    #{$target} a.clickable-parent::after,
    #{$target} .clickable-parent > a::after {
      content: '';
      position: relative;
    }
  }

// Clickable Parent (for Users)

@mixin clickable-parent {
  position: static;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      cursor: pointer !important;
      display: flex;
      z-index: 1;
    }
}

///// Grid

@mixin grid($columns, $rows, $gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

// @mixin auto-grid() {
//   display: grid;
//   grid-template-columns: null;
//   grid-template-rows: null;
//   gap: null;
// }

//// Animations

@mixin delay-children($child-count: 1, $delay: 100ms) {
  @for $i from 1 through $child-count {
      &:nth-child(#{$i}) {
          animation-delay: calc(#{$delay} * #{$i});
      }
  }
}


@mixin if-inline-tokens-on {
	@if $option-inline-tokens == on {
		@content;
	}
}
@mixin if-inline-tokens-off {
	@if $option-inline-tokens == off {
		@content;
	}
}

@mixin if-load-stylesheets-last-on {
	@if $option-load-stylesheets-last == on {
		@content;
	}
}
@mixin if-load-stylesheets-last-off {
	@if $option-load-stylesheets-last == off {
		@content;
	}
}
// Create mixin to avoid pre-processing errors thrown by
// putting @import statements inside of a conditional
@mixin check-gutenberg-load-styling-backend {
	@if $option-gutenberg-load-styling-backend == on {
		@content;
	}
}
