// Section Legend
$f-section-legend-font-size: var(--text-m) !default;
$f-section-legend-font-style: normal !default;
$f-section-legend-text-weight: 600 !default;
$f-section-legend-line-height: 1.2 !default;
$f-section-legend-text-decoration: none !default;
$f-section-legend-text-transform: none !default;
$f-section-legend-gap: 1rem !default;

$f-section-repeater-icons-size: var(--text-m) !default;

// Colors
$f-section-color-background: transparent !default;
$f-section-legend-color-background: transparent !default;
$f-section-legend-color: var(--f-form-color-base) !default;
