@import "flex-grid-maps";

// Flex-grid mixins
@mixin flex-grid {
    --gap: var(--grid-gap);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}

@mixin flex-grid--1 {
    --gap: var(--grid-gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    > * {
        width: 100%;
        max-width: 100%;
        flex-basis: auto;
    }
}
