// Fieldset
$f-field-fieldset-legend-font-size: var(--text-m) !default;
$f-field-fieldset-legend-font-style: normal !default;
$f-field-fieldset-legend-font-weight: 400 !default;
$f-field-fieldset-legend-text-decoration: none !default;
$f-field-fieldset-legend-text-transform: none !default;
$f-field-fieldset-legend-gap: 0.5em !default;

// Colors
$f-field-fieldset-legend-color: var(--f-form-color-base) !default;
$f-field-fieldset-legend-color-background: transparent !default;
