$f-field-datetime-calendar-border-style: solid !default;
$f-field-datetime-calendar-border-width: 1px !default;
$f-field-datetime-calendar-font-size: var(--text-s) !default;
$f-field-datetime-calendar-font-style: "normal" !default;
$f-field-datetime-calendar-font-weight: "" !default;
$f-field-datetime-calendar-letter-spacing: var(--text-letter-spacing) !default;
$f-field-datetime-calendar-line-height: var(--text-line-height) !default;
$f-field-datetime-calendar-text-decoration: none !default;
$f-field-datetime-calendar-text-transform: none !default;

$f-field-datetime-padding-vertical: 6px !default;
$f-field-datetime-padding-horizontal: 8px !default;
