$option-drop-shadow-variables: on !default;

$drop-shadow-1-name: 1 !default;
$drop-shadow-2-name: 2 !default;
$drop-shadow-3-name: 3 !default;
$drop-shadow-4-name: 4 !default;
$drop-shadow-5-name: 5 !default;

$drop-shadow-1-value: 0 1px 2px hsl(0 0% 0% / 0.15) !default;
$drop-shadow-2-value: 0 4px 6px hsl(0 0% 0% / 0.2) !default;
$drop-shadow-3-value: 0 10px 15px hsl(0 0% 0% / 0.25) !default;
$drop-shadow-4-value: null !default;
$drop-shadow-5-value: null !default;
