// Hide text for everyone except for screen readers
// HAS CORRESPONDING FEATURE STYLING IN BUILDERS!

@if $option-accessibility-classes == on {

  .hidden-accessible {
    position: absolute !important;
    inline-size: 1px !important;
    block-size: 1px !important;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    white-space: nowrap; /* added line */
    border: 0;
  }

	@if $option-bricks == on {
		// Include for Bricks
		.bricks-area .hidden-accessible {
			@include hidden-accessible-badge;
		}
	}

} // End options check
