$option-reduce-motion: on !default;
$option-accessibility-classes: off !default;

// Selection Styles
$selection-bg: null !default;
$selection-text: null !default;
$selection-bg-alt: null !default;
$selection-text-alt: null !default;
