$f-field-file-dropzone-border-style: solid !default;
$f-field-file-dropzone-border-width: 1px !default;
$f-field-file-dropzone-radius: var(--radius) !default;

$f-field-file-dropzone-padding-inline: var(--ws-form-grid-gap) !default;
$f-field-file-dropzone-padding-block: var(--ws-form-grid-gap) !default;

$f-field-file-dropzone-progress-radius: var(--radius) !default;
$f-field-file-dropzone-progress-gap: 5px !default;
$f-field-file-dropzone-progress-height: 10px !default;
