$f-field-error-font-size: var(--text-s) !default;
$f-field-error-font-style: normal !default;
$f-field-error-font-weight: 400 !default;
$f-field-error-letter-spacing: var(--text-letter-spacing) !default;
$f-field-error-line-height: var(--text-line-height) !default;
$f-field-error-text-decoration: none !default;
$f-field-error-text-transform: none !default;
$f-field-error-gap: 0.5em !default;
