// Help Text
$f-field-help-font-size: var(--text-s) !default;
$f-field-help-font-style: normal !default;
$f-field-help-font-weight: 400 !default;
$f-field-help-line-height: 1.4 !default;
$f-field-help-text-decoration: none !default;
$f-field-help-text-transform: none !default;
$f-field-help-gap: 0.5em !default;

// Colors
$f-help-text-color: var(--f-form-color-base) !default;
$f-help-text-color-background: transparent !default;
