$f-checkbox-border-radius: 4px !default;
$f-checkbox-gap-inline: 6px !default;
$f-checkbox-gap-block: 10px !default;

// Colors
$f-field-checkbox-color-background: var(--white) !default;
$f-field-checkbox-checked-color-background: var(--primary) !default;
$f-field-checkbox-checkmark-color: var(--white) !default;
$f-field-checkbox-button-color-background: var(--neutral-light) !default;
$f-field-checkbox-button-color: var(--neutral) !default;
$f-field-checkbox-checked-button-color-background: var(--primary) !default;
$f-field-checkbox-checked-button-color: var(--white) !default;
$f-field-checkbox-switch-color: var(--neutral-light) !default;
$f-field-checkbox-checked-switch-color-background: var(--primary) !default;
$f-field-checkbox-checked-switch-color: var(--white) !default;
