$f-field-prefix-suffix-font-size: var(--text-s) !default;
$f-field-prefix-suffix-font-style: normal !default;
$f-field-prefix-suffix-font-weight: 400 !default;
$f-field-prefix-suffix-letter-spacing: var(--text-letter-spacing) !default;
$f-field-prefix-suffix-line-height: var(--text-line-height) !default;
$f-field-prefix-suffix-text-decoration: none !default;
$f-field-prefix-suffix-text-transform: none !default;
