// Font 1
$font-1-type: null !default;
$font-1-family-name: null !default;
$font-1-src: null !default;
$font-1-src-fallback: null !default;
$font-1-format: null !default;
$font-1-format-fallback: null !default;
$font-1-stretch: null !default;
$font-1-style: null !default;
$font-1-variation-settings: null !default;
$font-1-display: null !default;
$font-1-weight: null !default;

// Font 2
$font-2-type: null !default;
$font-2-family-name: null !default;
$font-2-src: null !default;
$font-2-src-fallback: null !default;
$font-2-format: null !default;
$font-2-format-fallback: null !default;
$font-2-stretch: null !default;
$font-2-style: null !default;
$font-2-variation-settings: null !default;
$font-2-display: null !default;
$font-2-weight: null !default;

// Font 3
$font-3-type: null !default;
$font-3-family-name: null !default;
$font-3-src: null !default;
$font-3-src-fallback: null !default;
$font-3-format: null !default;
$font-3-format-fallback: null !default;
$font-3-stretch: null !default;
$font-3-style: null !default;
$font-3-variation-settings: null !default;
$font-3-display: null !default;
$font-3-weight: null !default;

// Font 4
$font-4-type: null !default;
$font-4-family-name: null !default;
$font-4-src: null !default;
$font-4-src-fallback: null !default;
$font-4-format: null !default;
$font-4-format-fallback: null !default;
$font-4-stretch: null !default;
$font-4-style: null !default;
$font-4-variation-settings: null !default;
$font-4-display: null !default;
$font-4-weight: null !default;

// Font 5
$font-5-type: null !default;
$font-5-family-name: null !default;
$font-5-src: null !default;
$font-5-src-fallback: null !default;
$font-5-format: null !default;
$font-5-format-fallback: null !default;
$font-5-stretch: null !default;
$font-5-style: null !default;
$font-5-variation-settings: null !default;
$font-5-display: null !default;
$font-5-weight: null !default;


