$f-field-range-slider-radius: 50px !default;
$f-field-range-slider-tickmark-font-size: var(--text-s) !default;
$f-field-range-slider-tickmark-font-style: "normal" !default;
$f-field-range-slider-tickmark-font-weight: "400" !default;
$f-field-range-slider-tickmark-letter-spacing: "var(--text-letter-spacing)"  !default;
$f-field-range-slider-tickmark-line-height: var(--text-line-height) !default;
$f-field-range-slider-tickmark-text-decoration: "none" !default;
$f-field-range-slider-tickmark-text-transform: "none" !default;



// Colors
$f-range-track-color: var(--neutral-ultra-light) !default;
$f-field-range-track-lower-color: var(--neutral-light) !default;
$f-field-range-track-upper-color: var(--neutral-ultra-light) !default;
$f-field-range-thumb-color: var(--primary) !default;
$f-field-range-tickmark-color: var(--neutral) !default;
$f-field-range-tickmark-label-color: var(--neutral) !default;
