$f-field-tooltip-font-size: var(--text-xs) !default;
$f-field-tooltip-font-weight: 400 !default;
$f-field-tooltip-line-height: var(--text-line-height) !default;
$f-field-tooltip-radius: var(--radius-s) !default;
$f-field-tooltip-gap: 5px !default;
