$f-field-select-arrow-width: 12px !default;
$f-field-select-arrow-height: 6px !default;

// Colors
$f-field-select-arrow-color: var(--neutral) !default;
$f-field-select2-choice-color-background: var(--neutral-light) !default;
$f-field-select2-choice-color: var(--neutral) !default;
$f-field-select2-choice-color-remove: var(--neutral) !default;
$f-field-select2-result-color-background: var(--neutral-light) !default;
$f-field-select2-result-color-background-selected: var(--primary) !default;
$f-field-select2-result-color-background-highlighted: var(--primary) !default;
$f-field-select2-result-color: var(--neutral) !default;
$f-field-select2-result-color-selected: var(--white) !default;
$f-field-select2-result-color-highlighted: var(--white) !default;
