$f-field-text-editor-font-size: --text-s !default;
$f-field-text-editor-font-style: normal !default;
$f-field-text-editor-font-weight:  400 !default;
$f-field-text-editor-letter-spacing: --text-letter-spacing !default;
$f-field-text-editor-line-height: --text-line-height !default;
$f-field-text-editor-text-decoration: none !default;
$f-field-text-editor-text-transform: none !default;
$f-field-text-editor-p-margin-bottom: 1em !default;
