// Labels
$f-field-label-font-family: var(--f-form-font-family) !default;
$f-field-label-font-size: var(--text-m) !default;
$f-field-label-font-style: normal !default;
$f-field-label-font-weight: 400 !default;
$f-field-label-letter-spacing: var(--text-letter-spacing) !default;
$f-field-label-line-height: 1.2 !default;
$f-field-label-text-decoration: none !default;
$f-field-label-text-transform: none !default;
$f-field-label-gap: 0.5em !default;
$f-field-inside-label-vertical-offset: -20px !default;
$f-field-label-inside-scale: 0.9 !default;

// Colors
$f-field-label-color: var(--neutral-dark) !default;
$f-field-label-color-background: null !default;
