$f-field-radio-gap-inline: 6px !default;
$f-field-radio-gap-block: 10px !default;

// Colors
$f-field-radio-color-background: var(--white) !default;
$f-field-radio-checked-color: var(--primary) !default;
$f-field-radio-button-color-background: var(--neutral-light) !default;
$f-field-radio-button-color: var(--neutral) !default;
$f-field-radio-checked-button-color-background: var(--primary) !default;
$f-field-radio-checked-button-color: var(--white) !default;
$f-field-radio-switch-color: var(--neutral-light) !default;
$f-field-radio-checked-switch-color-background: var(--primary) !default;
$f-field-radio-checked-switch-color: var(--white) !default;
